@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap');

:root{
    --ff: 'Outfit', sans-serif;

    --fw-regular : 400;
    --fw-bold : 700;

    --fs-regular: 0.9375rem;
    --fs-bold : 1.25rem;

    --clr-bg-primary: hsl(212, 45%, 89%);
    --clr-bg-secondar : hsl(0, 0%, 100%);

    --clr-primary : hsl(218, 44%, 22%);
    --clr-seconday : hsl(220, 15%, 55%);

}

*{
    padding: 0;
    margin: 0;
}

body{
    height: 100vh;
    min-width: 375px;
    display: flex;
    flex-direction: column;
    background-color: var(--clr-bg-primary);   
    font-family: var(--ff);  
}

.container{
    max-width: 17rem;
    padding: 1rem;
    margin: auto;
    background-color: var(--clr-bg-secondar);
    color: var(--clr-primary);
    text-align: center;
    border-radius: 1rem;
}
.container img{
    display: block;
    width: 100%;
    border-radius: 0.5rem;
}
.content{
    padding:  0 0.5rem;
    margin: 0.875rem 0;
}
.content h1{
    font-size: var(--fs-bold);
    font-weight: var(--fw-bold);
    padding-bottom: 1rem;
}
.content p{
    font-size: var(--fs-regular);
    font-weight: var(--fw-regular);
    color: var(--clr-seconday);
}
